.container {
    display: grid;
    grid-template-columns: 3fr 2fr;
    align-items: center;
    height: 70vh;
    padding: 50px;
    margin: 20px 0px;
}

img {
    width: 350px;

}

.paragraph h1 {
    color: orangered;

}

.paragraph {
    text-align: left;
}

hr {
    margin-bottom: 50px;
}

.review-title {
    font-size: bold;
    color: cornflowerblue;
}

.three-review {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    padding: 50px;
    margin-bottom: 50px;
}

.btn {
    padding: 10px 20px;
    background-color: orange;
    color: white;
    cursor: pointer;
    margin-bottom: 20px;
}